
a:visited{
    color: brown;
    font-size: 30px;
}
a:hover{
    color: green;
    font-size: 20px;
}
input:focus{
    border: 3px solid red;
    outline: none;
    border-radius: 3px;
}
p:first-child{
    color: red;
} p::before {
    content: ' - ';
}

